.footer {
    margin-top: auto; /*футер вниз*/
    background-color: #86B5C2;
    width: 100%;
    height: 10rem;
}

.footer__section {
    text-align: center;
}

.icon {
    font-size: 1.5rem;
    color: #B1D4E6;
}

.icon:hover {
    color: #A5B5C2;
}

.footer__item {
    padding-top: 2px;
    font-family: "Noto Sans CJK SC";
    font-size: 21px;
}