.film-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.film-img {
    width: 415px;
}

.film-img img {
    width: 100%;
    height: 84%;
    border-radius: 5px;
}

.film-info {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    align-items: end;
    width: 20%;
}

.shadow {
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #86b5c2, 4px 4px #86b5c2, 5px 5px #94a7af, 6px 6px #86b5c2, 7px 7px #86b5c2;
    font-family: "Noto Sans CJK SC";
}

.film-info__text {
    color: #86b5c2;
    font-family: "Noto Sans CJK SC";
}

.film-info__span {
    color: #000;
    font-family: "Noto Sans CJK SC";
}

@media (max-width: 768px) {
    .film-img {
        width: 295px;
    }

    .film-info {
        width: 100%;
    }
}