.icon__search{
    position: absolute;
    right: 40px;
    top: 20px;
    color: #9E9C9C;
}
.searchInputs {
    display: flex;
    justify-content: space-around;
}
.searchInputs__item {
    padding: 10px 20px;
    font-family: "Noto Sans CJK SC";
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
.searchInputs__search {
    font-style: italic;
    width: 205px;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
    position: relative;
}
.autocomplete {
    position: absolute;
    left: auto;
    width: 217px;
    background-color: #F9F0DA;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 111;
    max-height: 240px;
    height: auto;
    overflow: auto;
}
.autocomplete__item {
    padding: 5px;
}
.autocomplete__item:hover {
    background: rgb(180, 180, 180);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .3s all;
}
.section-table {
    width: 100%;
    margin: auto;
    max-width: 1170px;
    padding: 0 15px;
}

.indentation {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.table {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /*border-collapse: collapse;*/
}

.table th, .table td {
    text-align: center;
    padding: 10px;
    font-family: "Noto Sans CJK SC"
}

.table th {
    background-color: #B1D4E6;
    color: black;
}

.table tr:nth-child(even) {
    background: aliceblue;
}

.table tr {
    transition: all .3s;
}

.table tr:hover {
    background-color: #B1D4E6;
    cursor: pointer;
}

@media (max-width: 768px) {
    .searchInputs__item {
        font-size: 16px;
    }

    .searchInputs__search {
        width: 110px;
    }
    .table {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .table thead, .table tbody, .table thead th {
        display: block;
    }

    .table thead {
        float: left;
    }

    .table tbody {
        overflow-x: auto;
    }

    .table tbody tr {
        display: table-cell;
        background: aliceblue;
    }

    .table td {
        display: block;
        border-bottom: 1px solid #fff;
    }

    .table th {
        border-bottom: 1px solid #fff;
    }

    .table .th:not(:last-child) {
        border: none;
    }
}

@media (max-width: 500px) {
    .table tbody {
        overflow-x: auto;
    }
}